<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>servlet_demo</display-name>
	<!-- 配置当前应用的全局信息 -->
	<context-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>

	<servlet>
		<servlet-name>servletDemo1</servlet-name>
		<servlet-class>com.jerry.servlet.ServletDemo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletDemo1</servlet-name>
		<url-pattern>/demo1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletDemo2</servlet-name>
		<servlet-class>com.jerry.servlet.ServletDemo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletDemo2</servlet-name>
		<url-pattern>/demo2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletDemo3</servlet-name>
		<servlet-class>com.jerry.servlet.ServletDemo3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletDemo3</servlet-name>
		<url-pattern>/demo3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletConfigDemo1</servlet-name>
		<servlet-class>com.jerry.servletConfig.ServletConfigDemo1</servlet-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfigDemo1</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContextDemo1</servlet-name>
		<servlet-class>com.jerry.servletContext.ServletContextDemo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextDemo1</servlet-name>
		<url-pattern>/ServletContextDemo1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContextDemo2</servlet-name>
		<servlet-class>com.jerry.servletContext.ServletContextDemo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextDemo2</servlet-name>
		<url-pattern>/ServletContextDemo2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContextDemo3</servlet-name>
		<servlet-class>com.jerry.servletContext.ServletContextDemo3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextDemo3</servlet-name>
		<url-pattern>/ServletContextDemo3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContextDemo4</servlet-name>
		<servlet-class>com.jerry.servletContext.ServletContextDemo4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextDemo4</servlet-name>
		<url-pattern>/ServletContextDemo4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContextDemo5</servlet-name>
		<servlet-class>com.jerry.servletContext.ServletContextDemo5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextDemo5</servlet-name>
		<url-pattern>/ServletContextDemo5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContextDemo6</servlet-name>
		<servlet-class>com.jerry.servletContext.ServletContextDemo6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextDemo6</servlet-name>
		<url-pattern>/ServletContextDemo6</url-pattern>
	</servlet-mapping>
</web-app>